<!-- Navbar -->
<nav>
  <div class="container mx-auto mb-10">
    <div class="navbar bg-base-100 shadow">
      <div class="flex-1">
        <a routerLink="" class="btn btn-ghost normal-case text-xl">
          <img
            src="../../../assets/favicon-32x32.png"
            class="mr-2"
          />stationary4u</a
        >
      </div>

      <!-- cart -->
      <div class="flex-none">
        <app-cart-status></app-cart-status>

        <!-- Toggler -->
        <div>
          <input
            data-toggle-theme="black,cupcake"
            data-act-class="ACTIVECLASS"
            type="checkbox"
            class="toggle"
          />
        </div>
      </div>
    </div>
  </div>
</nav>
