/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-color: #eaf2f2;
  /* or any other variables/style */
}
[data-theme="dark"] {
  --default-color: #000;
}
[data-theme="black"] {
  --default-color: #080808;
}

body {
  background-color: var(--default-color);
}
